@font-face {
    font-family: "MontserratAlternates-Medium";
    src: url(../fonts/MontserratAlternates-Medium.ttf);
}

@font-face {
    font-family: "MontserratAlternates-SemiBold";
    src: url(../fonts/MontserratAlternates-SemiBold.ttf);
}