body{
    margin: 0;
    padding: 0;
    font-family: "MontserratAlternates-Medium";
    font-size: 20px;
}

/* header */
.header{
    width: 100%;
    height: 100px;
    display: flex;
    margin: 0 auto;
}

.header__inner{
    width: 84%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* nav */
nav ul{
    font-family: "MontserratAlternates-Medium";
    font-size: 16px;
    display: flex;
    gap: 50px;
    
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: black;
}

/* line */
.line{
    width: 100%;
    border: 1px solid black;
}

/* burger */
.open{
    display: flex !important;
}

.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #000;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }

.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 1100px) {

    .burger { display: flex }

    .nav{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #fff;
        animation: burgerAnimation 0.4s;
    }

    .nav ul{
        flex-direction: column;
        row-gap: 25px;
        height: auto;
    }

    .logo img{
        max-width: 100%;
        height: auto;
    }

    .header__inner{
        gap: 30px;
    }

}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}


/* main */
.main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

/* main section 1 */
.main__section1 {
    width: 100%;
    margin: 0 auto;
}

.main__section1-inner {
    width: 84%;
    margin: 0 auto;
    height: auto;
}

.main__section1-inner img {
    width: 100%;
    height: auto;
    display: block;
}

/* main section 2 */
.main__section2 {
    width: 100%;
    margin: 50px auto 0;
    position: relative;
}

.main__section2-inner {
    padding: 80px 0;
    width: 84%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.main__section2-inner-left img{
    max-width: 100%;
    height: auto;
}

.main__section2-inner-right-text1{
    font-family: "MontserratAlternates-SemiBold";
    font-size: 48px;
}

.main__section2-inner-right-text2{
    padding-top: 20px;
    font-size: 20px;
}

.main__section2-inner-right-text3{
    padding-top: 10px;
    font-size: 20px;
}

@media (max-width: 1363px) {
    .main__section2-inner{
        flex-wrap: wrap;
        gap: 50px;
    }

    .main__section2-inner-right{
        text-align: center;
    }
}

@media (max-width: 425px) {
    .main__section2-inner-right-text1{
        font-size: 30px;
    }

    .main__section2-inner-right-text2{
        font-size: 16px;
    }

    .main__section2-inner-right-text3{
        font-size: 16px;
    }
}

/* main section 3 */
.main__section3{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}

.main__section3-inner{
    width: 84%;
    height: auto;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 50px;
    padding-bottom: 171px;
}

.main__section3-inner-mainText{
    text-align: center;
    font-family: "MontserratAlternates-SemiBold";
    font-size: 48px;
    padding-top: 50px;
}

.main__section3-inner-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 80px;
    flex-wrap: wrap;
}

.main__section3-inner-block1{
    text-align: center;
}

.main__section3-inner-block1-text{
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 550px) {
    .main__section3-inner-mainText{
        font-size: 30px;
    }
}

/* main section 4 */
.main__section4{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}

.main__section4-inner{
    width: 84%;
    height: auto;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 50px;
    padding-bottom: 90px;
}

.main__section4-inner-mainText{
    text-align: center;
    font-family: "MontserratAlternates-SemiBold";
    font-size: 48px;
    padding-top: 50px;
}

.main__section4-inner-secondText{
    padding-top: 40px;
    text-align: center;
}

.main__section4-inner-block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.main__section4-inner-block1{
    margin-top: 95px;
    width: 320px;
    height: 75px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #C3B300;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

@media (max-width: 950px) {
    .main__section4-inner-mainText{
        font-size: 30px;
    }

    .main__section4-inner-secondText{
        font-size: 16px;
    }
}


/* footer */
.footer{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
}

.footer-inner{
    width: 84%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__line{
    width: 100%;
    border: 1px solid black;
}

.footer__icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer__copyright{
    display: flex;
    align-items: center;
    font-size: 20px;
}

@media (max-width: 1100px) {
    .footer__logo{
        display: none;
    }

    .footer-inner{
        gap: 30px;
    }
}